body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(54, 46, 61);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #dddddd;
    color: rgb(20, 20, 20);
}

.logo {
    padding: 60px;
}

.logo img {
    height: 230px; /* Ajusta la altura de tu logo */
    border-radius: 80px;
      width: auto; /* Mantiene la proporción del logo */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    padding: 0 20px;
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    color: #0bbcdb;
}

.burger {
    display: none;
    cursor: pointer;
    padding-right: 20px;
}




@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 10vh;
        left: 0;
        background-color: #333;
    }

    .nav-links li {
        text-align: center;
        padding: 20px 0;
        width: 100%;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    display: flex;
}
