/* Estilos generales y para el cuerpo de la página */
body {
  background: linear-gradient(45deg, #0b0b0f, #25254f, #105470fa, #d9104c); /* Fondo con un degradado de colores en un ángulo de 45 grados */
  background-size: 400% 400%; /* Tamaño del fondo para permitir el efecto de animación */
  animation: gradientBG 12s infinite; /* Aplica la animación de fondo con una duración de 12 segundos en un bucle infinito */
  margin: 0; /* Elimina el margen predeterminado del navegador */
  padding: 0; /* Elimina el relleno predeterminado del navegador */
  box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el tamaño total de los elementos */
  font-family: 'Courier New', Courier, monospace; /* Fuente utilizada en toda la página */
}

/* Animación del fondo */
@keyframes gradientBG {
  0% { background-position: 0% 50%; } /* Inicio de la animación del fondo */
  50% { background-position: 100% 50%; } /* Punto medio de la animación del fondo */
  100% { background-position: 0% 50%; } /* Final de la animación del fondo */
}

/* Estilos para la barra de navegación */
nav {
  display: flex; /* Utiliza flexbox para alinear elementos */
  padding: 2% 6%; /* Relleno alrededor de la barra de navegación */
  justify-content: space-between; /* Espacia los elementos al principio y al final */
  align-items: center; /* Alinea los elementos verticalmente en el centro */
}

/* Estilos para el logotipo */
.logo {
  font-size: 2em; /* Tamaño de la fuente del logotipo */
  color: #ffffff; /* Color del texto del logotipo */
  text-decoration: none; /* Elimina el subrayado del enlace */
  font-weight: 700; /* Peso de la fuente del logotipo */
}

/* Estilos para la barra de navegación */
.navbar {
  flex: 1; /* Permite que la barra de navegación ocupe el espacio restante */
  text-align: right; /* Alinea los elementos de la barra de navegación a la derecha */
}

/* Estilos para la lista de navegación */
.navbar ul {
  display: flex; /* Utiliza flexbox para alinear elementos de la lista */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en líneas */
  justify-content: flex-end; /* Alinea los elementos al final del contenedor */
  padding: 0; /* Elimina el padding predeterminado */
  margin: 0; /* Elimina el margen predeterminado */
  list-style: none; /* Elimina los puntos de lista */
}

/* Estilos para los elementos de la lista */
.navbar ul li {
  position: relative; /* Posicionamiento relativo para permitir ajustes internos */
  padding: 8px 12px; /* Relleno interno de los elementos de la lista */
  display: inline-block; /* Alinea los elementos de la lista en línea */
}

/* Estilos para los enlaces de navegación */
.navbar a {
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: #fff; /* Color del texto del enlace */
  padding: 8px 12px; /* Relleno interno del enlace */
  transition: 0.5s; /* Transición suave para cambios de estilo */
}

/* Estilos de enlace al pasar el mouse */
.navbar a:hover {
  color: #afa7af; /* Cambia el color del texto al pasar el mouse */
}

/* Estilos para el enlace activo */
.navbar .active {
  color: #ffffff; /* Color del enlace activo */
}

/* Estilos para el contenedor de texto */
.texto {
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 50px 0; /* Relleno superior e inferior */
  color: #c0247a; /* Color del texto */
  text-align: center; /* Centra el texto */
}

/* Estilos para el título en el contenedor de texto */
.texto h1 {
  font-size: 2.5em; /* Tamaño de la fuente del título */
  margin: 0; /* Elimina el margen predeterminado */
}

/* Estilos para el contenedor de tarjetas */
.container {
  display: flex; /* Utiliza flexbox para alinear elementos */
  justify-content: center; /* Centra las tarjetas horizontalmente */
  align-items: flex-start; /* Alinea las tarjetas al inicio del contenedor */
  gap: 20px; /* Espaciado entre las tarjetas */
  padding: 20px; /* Relleno alrededor del contenedor de tarjetas */
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en múltiples líneas si es necesario */
}

/* Estilos para las tarjetas */
.card {
  width: 190px; /* Ancho de la tarjeta */
  height: 300px; /* Altura de la tarjeta */
  border-radius: 20px; /* Bordes redondeados */
  background: #f5f5f5; /* Fondo de la tarjeta */
  position: relative; /* Posicionamiento relativo para permitir ajustes internos */
  padding: 1.8rem 1.8rem 3.5rem; /* Relleno interno de la tarjeta */
  border: 2px solid #c3c6ce; /* Borde de la tarjeta */
  transition: 0.5s ease-out; /* Transición suave para cambios de estilo */
  overflow: hidden; /* Recorta contenido que se desborda */
  display: flex; /* Utiliza flexbox para alinear elementos */
  flex-direction: column; /* Coloca los elementos en columna */
  align-items: center; /* Centra los elementos horizontalmente */
}

/* Estilos de la tarjeta al pasar el mouse */
.card:hover {
  transform: translateY(-10px); /* Desplaza la tarjeta hacia arriba */
  border-color: #008bf8; /* Cambia el color del borde */
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25); /* Añade sombra */
}

/* Estilos para la imagen de la tarjeta */
.card-image {
  width: 100%; /* Ancho completo de la tarjeta */
  height: auto; /* Altura automática para mantener la proporción */
  max-height: 150px; /* Altura máxima de la imagen */
  border-radius: 15px; /* Bordes redondeados */
  margin-bottom: 1rem; /* Margen inferior */
  object-fit: cover; /* Asegura que la imagen se ajuste dentro de los límites */
  transition: transform 0.5s ease-out; /* Transición suave para cambios de estilo */
}

/* Estilos para la imagen de la tarjeta al pasar el mouse */
.card:hover .card-image {
  transform: scale(1.1); /* Escala la imagen */
}

/* Estilos para los detalles de la tarjeta */
.card-details {
  color: black; /* Color del texto */
  gap: .5em; /* Espaciado entre los elementos */
  display: flex; /* Utiliza flexbox para alinear elementos */
  flex-direction: column; /* Coloca los elementos en columna */
  align-items: center; /* Centra los elementos horizontalmente */
  text-align: center; /* Centra el texto */
}

/* Estilos para el cuerpo del texto de la tarjeta */
.text-body {
  color: rgb(134, 134, 134); /* Color del texto */
}

/* Estilos para el título del texto de la tarjeta */
.text-title {
  font-size: 1.5em; /* Tamaño de la fuente */
  font-weight: bold; /* Peso de la fuente */
}
